<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoonamVina</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/products.css}"/>
</head>
<body>

<header layout:include="layout/menu :: header"></header>
<main>
  <section class="product-section" >
    <h2 th:text="${lang == 'vi'} ? ${metalCategory.nameVi} : ${metalCategory.nameEn}"></h2>
    <div class="products-list" id="category-other" >
      <div class="product-item" th:each="metal : ${metalList}">
        <img th:src="@{'/uploads/images/' + ${metal.imageM}}" alt="Cửa thép chống cháy">
        <div class="product-details">
          <p th:text="${lang == 'vi'} ? 'Sản phẩm: ' + ${metal.nameVi} : 'Product: ' + ${metal.nameEn}"></p>
          <p th:text="${lang == 'vi'} ? 'Kiểu dáng: ' + ${metal.descriptionVi} : 'Design: ' + ${metal.descriptionEn}"></p>

        </div>
        <div class="product-buttons">
          <button class="product-button" onclick="showPhoneNumber(this)" th:text="#{product.detail.contact}">Chi tiết liên hệ</button>
          <p class="phone-number" style="display: none;" th:text="#{detail.contact.mt}"></p>
          </p>
          <br>

        </div>
      </div>
    </div>
    <div class="load-more-container">
      <button class="load-more-button" id="load-more-button-other" th:text="#{load.more}">Xem thêm</button>
    </div>
  </section>
</main>

<div layout:include="layout/page-promo :: page-promo"></div>

<footer layout:include="layout/footer :: footer"></footer>
<script src="/js/script.js"></script>
<script src="/js/load-more.js"></script>
<script src="/js/changelanguage.js"></script>
</body>
</html>