<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>GoonamVina</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css-admin/productcategory.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css-admin/dashboard.css}"/>
</head>
<body>
<div class="dashboard">
  <div th:replace="admin/layout-admin/sidebar :: sidebarFragment"></div>
  <div class="main-content">
    <header>
      <button class="toggle-btn" id="toggle-btn">&#9776;</button>
      <h1 th:text="${pc.id != null} ? 'Edit Product Category' : 'Add a New Product Category'"></h1>
      <div class="user-info">
        <span>Welcome, [User]</span>
        <a href="/admin/logout" class="btn">Logout</a>
      </div>
    </header>
    <section class="content">
      <!-- Thêm phần hiển thị thông báo lỗi -->
      <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
      </div>
      <div th:if="${message}" class="alert alert-success">
        <p th:text="${message}"></p>
      </div>



      <div class="category-form">
        <h2>Add a New Product Category</h2>
        <form id="category-form" th:action="@{${pc.id != null} ? '/admin/update-pc/' + ${pc.id} : '/admin/product-category'}" th:object="${pc}" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="id" th:value="${pc.id}">
          <div class="form-group">
            <label for="category-name-vi">Category Name (Vietnamese)</label>
            <input type="text" id="category-name-vi" th:field="*{nameVi}" name="category-name-vi" required>
          </div>

          <!-- Thêm trường cho tên danh mục Tiếng Anh -->
          <div class="form-group">
            <label for="category-name-en">Category Name (English)</label>
            <input type="text" id="category-name-en" th:field="*{nameEn}" name="category-name-en" required>
          </div>
          <div class="form-group">
            <label for="pc-image">Upload Image</label>
            <input type="file" id="pc-image"  name="pc-image" accept="image/*" th:attr="required=${pc.imagePC == null}">
            <div th:if="${pc.imagePC != null}">
              <label>Current Image:</label>
              <img th:src="@{'/uploads/images/' + ${pc.imagePC}}" alt="PC Image" style="width: 100px; height: auto;"/>
            </div>
          </div>
          <button type="submit" class="btn" th:text="${pc.id != null} ? 'Update Product Category' : 'Add Product Category'"></button>
        </form>
      </div>
      <div class="category-table">
        <h2>Category List</h2>
        <table id="category-table">
          <thead>
          <tr>
            <th>Category NameVi</th>
            <th>Category NameEn</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="pc : ${pcList}">
            <td th:text="${pc.nameVi}"></td>
            <td th:text="${pc.nameEn}"></td>
            <td>
              <img th:src="@{'/uploads/images/' + ${pc.imagePC}}" alt="PC Image" style="width: 100px; height: auto;"/>
            </td>
            <td>
              <a th:href="@{'/admin/edit-pc/' + ${pc.id}}">Edit</a> |
              <a th:href="@{'/admin/delete-pc/' + ${pc.id}}" onclick="return confirm('Are you sure?')">Delete</a>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
<script src="/js-admin/admin.js"></script>
</body>
</html>